//
// App Navbar
//

.app-navbar {
  display: flex;
  align-items: stretch;

  .app-navbar-item {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 10px;
    @media screen and (max-width: 650px) {
      margin-top: 12px;
      margin-bottom: 5px;
    }
  }

  &.app-navbar-stretch {
    .app-navbar-item {
      align-items: stretch;
    }
  }
}
